body {
  margin: 0;
  font-family: "Rockwell",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue: #2596be;
  --blue2: #43b9df;
  --darkblue: #0d364a;
  --grey: #bfbfbf;
  --darkgrey: #2d2d2d;
  --lightgrey: #d9d9d9;
}
/* HOME */
#main_logo {
  height: auto;
  width: 100%;
}

header,
footer {
  background-color: var(--darkblue);
  text-align: center;
  font-variant: small-caps;
  border: var(--grey) solid 5px;
  padding: 15px 0 15px 0;
  /* width: max-content; */
}

header {
  width: 100%;
}

header a {
  padding: 0 20px 10px 20px;
  color: var(--grey);
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
}

header a:hover {
  color: var(--blue2);
}

.header-logo {
  align-self: center;
}

#header-logo {
  height: 4em;
  border-radius: 25%;
  box-shadow: 4px 4px 4px var(--grey);
}

footer {
  width: 100%;
}

footer h5 {
  color: var(--grey);
}

footer ul li a i {
  font-size: 35px;
}

footer ul li a i:hover {
  font-size: 42px;
}

footer ul li {
  list-style: none;
  display: inline;
  padding: 7px;
}

h3 {
  font-variant: small-caps;
  color: #21728f;
}

.home {
  margin: auto;
}

.carousel {
  /* margin: auto; */
  display: inline-block;
  text-align: center;
  background-color: var(--darkblue);
  padding-top: 10px;
}

.phone a {
  color: var(--grey);
}

.phone a:hover {
  color: var(--blue2);
}

#chalk_cult {
  height: 40px;
}

#chalk_cult:hover {
  height: 48px;
}

.instagram .fab {
  /* font-size: 35px; */
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  padding: 3px;
}

.facebook .fab {
  border-radius: 35px;
}

/* ABOUT */
a {
  text-decoration: none;
}

.about,
.price,
.get_started {
  text-align: center;
}

.about {
  background-color: #0d364a;
  color: var(--lightgrey);
  padding: 10px 0 15px 0;
  border-bottom: var(--grey) 4px solid;
}

.btn {
  background-color: var(--blue2);
  margin-bottom: 10px;
}

.btn a {
  color: var(--darkblue);
  font-weight: 600;
  font-variant: small-caps;
}

.btn:hover {
  background-color: var(--darkblue);
}

a:hover {
  color: var(--grey);
}

#selfie {
  height: 20em;
  border-radius: 30px;
  box-shadow: 4px 4px 4px var(--grey);
}

/* CARDS */
.card {
  width: 18rem;
  height: 14rem;
  margin: 15px auto 15px auto;
  background-color: var(--darkblue);
  border: var(--blue) double 5px;
}

.card-header {
  color: var(--blue2);
  border-bottom: var(--blue2) solid 2px;
  font-size: 1.3em;
  font-variant: small-caps;
}

.card-subtitle {
  color: var(--lightgrey);
}

.card-text {
  color: white;
  font-size: 0.9em;
}

.card-text li {
  /* justify-content: left; */
  text-align: left;
}

/* SCHEDULE */
table {
  text-align: center;
  margin: auto;
  font-variant: small-caps;
}

table caption {
  text-align: center;
  color: var(--darkblue);
  font-weight: 600;
  font-size: 1.2em;
}

table .sunday {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}

table th,
td {
  border: 1px solid black;
}

table thead {
  background-color: var(--darkblue);
  color: var(--lightgrey);
}

/* CONTACT */
.contact {
  text-align: center;
  background-color: var(--darkblue);
  color: var(--lightgrey);
}

.contact a {
  color: var(--lightgrey);
}

.contact a:hover {
  color: var(--blue);
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header a {
    font-size: 0.8em;
    display: inline-block;
    padding: 0 10px 8px 10px;
  }  

  body {
    font-family: "Rockwell";
  }

  footer h5, a {
    font-size: .8em;
  }

  footer ul li a i {
    font-size: 20px;
  }

  #chalk_cult {
    height: 25px;
  }

  #chalk_cult:hover {
    height: 32px;
  }

  table {
    font-size:xx-small;
  }

  .googlemap iframe {
    width: 75%;
  }

  .header-logo {
    align-self: center;
    display: none;
  }

  #selfie {
    height: 10em;
  }  

  

}
